# Flights optimization

### TASK 4.1. 
База данных содержит список аэропортов практически всех крупных городов России. В большинстве городов есть только один аэропорт. Исключение составляет: 

**Answer:** Moscow, Ulyanovsk

SELECT city,
       count(city) AS qty
FROM dst_project.airports
GROUP BY 1
ORDER BY 2 DESC

### TASK 4.2.

**Question 1** 

Таблица рейсов содержит всю информацию о прошлых, текущих и запланированных рейсах. Сколько всего статусов для рейсов определено в таблице?

**Answer:** 6

SELECT count(DISTINCT status)
FROM dst_project.flights

**Question 2** 

Какое количество самолетов находятся в воздухе на момент среза в базе (статус рейса «самолёт уже вылетел и находится в воздухе»)?

**Answer:** 58

SELECT count(*)
FROM dst_project.flights
WHERE status = 'Departed'

**Question 3** 

Места определяют схему салона каждой модели. Сколько мест имеет самолет модели  (Boeing 777-300)?

**Answer:** 402

SELECT count(*)
FROM dst_project.seats
JOIN dst_project.aircrafts 
    USING(aircraft_code)
WHERE model = 'Boeing 777-300'

**Question 4** 

Сколько состоявшихся (фактических) рейсов было совершено между 1 апреля 2017 года и 1 сентября 2017 года?

**Answer:** 74227

SELECT count(*)
FROM dst_project.flights
WHERE status = 'Arrived'
  AND actual_arrival BETWEEN '2017-04-01' AND '2017-09-01'

### TASK 4.3.

**Question 1** 

Сколько всего рейсов было отменено по данным базы?

**Answer:** 406

SELECT count(*)
FROM dst_project.flights
WHERE status = 'Cancelled'
  AND actual_departure IS NULL
  AND actual_arrival IS NULL

**Question 2** 

Сколько самолетов моделей типа Boeing, Sukhoi Superjet, Airbus находится в базе авиаперевозок?

**Answer:** 23200, 3000, 18000

SELECT 
    (SELECT SUM(RANGE) /* выводим сумму по моделям самолётов, отобранных в запросе ниже */
    FROM dst_project.aircrafts /* берём данные из таблицы "Самолёты" */
    WHERE model like ('Boeing%')) AS Boeing, /* отбираем данные по всем модификациям Boeing */
    
    (SELECT SUM(RANGE)
    FROM dst_project.aircrafts
    WHERE model like ('Sukhoi%')) AS Sukhoi_Superjet, /* отбираем данные по всем модификациям Sukhoi Superjet */
    
    (SELECT SUM(RANGE)
    FROM dst_project.aircrafts
    WHERE model like ('Airbus%')) AS Airbus /* отбираем данные по всем модификациям Airbus */
    
FROM dst_project.aircrafts
LIMIT 1; /* выводим только 1 кортеж данных, больше не нужно, так как ниже значения дублируются */

 **Question 3** 

В какой части (частях) света находится больше аэропортов?

**Answer:** Europe, Asia

SELECT
  (SELECT count(*) /* выводим количество */
   FROM dst_project.airports /* берём данные из таблицы "Аэропорты" */
   WHERE timezone like ('Asia%') ) AS Asia, /* прописываем условие принадлежности аэропорта к Азии */

  (SELECT count(*) 
   FROM dst_project.airports
   WHERE timezone like ('Europe%') ) AS Europe, /* прописываем условие принадлежности аэропорта к Европе */

  (SELECT count(*)
   FROM dst_project.airports
   WHERE timezone like ('Australia%') ) AS Australia, /* прописываем условие принадлежности аэропорта к Австралии */
       Count(*) AS Total /* считаем общее количество аэропортов, напрямую по списку в исходной таблице */
FROM dst_project.airports
LIMIT 1; /* выводим только 1 кортеж данных, больше не нужно, так как ниже значения дублируются */

 **Question 4** 

У какого рейса была самая большая задержка прибытия за все время сбора данных? Введите id рейса (flight_id)

**Answer:**